*, :after, :before {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  color: var(--color-dark-stronger);
  background-color: var(--color-neutral-background);
}

a {
  color: var(--color-primary-regular);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-content img {
  width: 345px;
}

code {
  display: block;
  padding: var(--rhythm-2);
  background-color: var(--color-light-stronger);
  border-radius: var(--rhythm-1);
  font-family: var(--font-family-monospace);
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

.container {
  max-width: var(--max-width-container);
  padding: var(--padding-container);
  margin: 0 auto;
}

.top-bar {
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.top-bar.active {
  background: var(--color-dark-stronger);
}

.top-bar-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: var(--rhythm-4);
}
.top-bar-content .links {
  flex: 1 0 auto;
  text-align: right;
}

.logo-small {
  width: var(--rhythm-16);
  height: auto;
  transform: translateY(-200%);
  transition: transform var(--transition-fast);
}
.top-bar.active .logo-small {
  transform: translateY(0);
}

.link {
  display: inline-flex;
  align-items: center;
  height: var(--rhythm-4);
  margin-left: var(--rhythm-0_5);
  vertical-align: middle;
  padding: 0 var(--rhythm-2);
  border-radius: var(--rhythm-2);
  border: 1px solid currentColor;
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
  transition: all var(--transition-superfast);
}
@media (min-width: 768px) {
  .link {
    margin-left: var(--rhythm-2);
  }
}
.link:hover {
  text-decoration: none;
  opacity: 0.8;
}
.link.light {
  color: var(--color-light-stronger);
}


.link-icon {
  margin-right: var(--rhythm-1);
}

.header {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: var(--rhythm-10) 0;
  background-color: var(--color-dark-stronger);
}
@media (min-width: 768px) {
  .header-content {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: var(--rhythm-12) 0 var(--rhythm-16) 0;
  }
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(10%);
  z-index: -1;
}

h1 {
  margin: var(--rhythm-7) 0 var(--rhythm-5) 0;
  font-size: 2.5rem;
  color: var(--color-primary-regular);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-small);
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}

.summary {
  padding-right: 10%;
  font-size: 1.125rem;
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-neutral-lightest);
}

h2 {
  font-size: 1.625rem;
}

.details-content {
  font-size: 1.125rem;
  padding: var(--rhythm-8) 0;
}
@media (min-width: 1024px) {
  .details-content {
    width: 60%;
    padding: var(--rhythm-12) 0 var(--rhythm-16) 0;
  }
}

.install {
  margin-top: var(--rhythm-6);
}

.install-title {
  font-weight: var(--font-weight-semi-bold);
}

.features {
  padding: var(--rhythm-9) 0;
}
@media (min-width: 1024px) {
  .features {
    background-image: url('../assets/background.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: var(--rhythm-6);
}
.feature-image {
  width: 60%;
}
@media (min-width: 768px) {
  .feature {
    flex-direction: row;
    margin-bottom: 0;
  }
  .feature:nth-child(even) {
    flex-direction: row-reverse;
  }
  .feature-text {
    width: 60%;
    padding-right: 10%;
  }
  .feature:nth-child(even) .feature-text {
    padding-right: 0;
    padding-left: 10%;
  }
  .feature-image {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .feature-image,
  .feature-text {
    width: 50%;
  }
}

.feature h2 {
  color: var(--color-primary-regular);
}

.feature ul {
  margin: var(--rhythm-3) 0 0 0;
  padding: 0;
  list-style: none;
}

.feature li {
  margin-bottom: var(--rhythm-1);
  font-weight: var(--font-weight-bold);
}

.footer {
  background-color: var(--color-dark-stronger);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--rhythm-12);
}

.footer .powered-by {
  color: var(--color-light-stronger);
  text-align: right;
}
.footer .powered-by strong {
  color: var(--color-primary-regular);
}
.footer .powered-by a {
  color: inherit;
}
.footer img {
  display: block;
  width: var(--rhythm-14);
}
